body{
  font-family: Arial;
  background: linear-gradient(135deg,#ffb6c1,#ffc0cb);
  text-align:center;
  padding:40px;
  overflow:hidden;
}

h1{
  font-size:32px;
  margin-bottom:30px;
}

button{
  padding:14px 30px;
  font-size:18px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  margin:10px;
}

#yesBtn{
  background:#ff4b7d;
  color:white;
}

#noBtn{
  background:white;
  position:absolute;
}

video{
  width:420px;
  margin-top:20px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.hidden{
  display:none;
}

#surprise{
  margin-top:25px;
  animation:fadeIn 2s ease;
}

.quote{
  font-style:italic;
  margin:10px;
  color:#d6336c;
}

canvas{
  position:fixed;
  top:0;
  left:0;
  pointer-events:none;
}

@keyframes fadeIn{
  from{opacity:0; transform:scale(.8)}
  to{opacity:1; transform:scale(1)}
}
