body{
  background: linear-gradient(135deg,#ff9a9e,#fad0c4);
  font-family: Arial;
  text-align:center;
}

.container{
  padding:40px;
}

button{
  padding:12px 25px;
  margin:10px;
  font-size:18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

#yesBtn{
  background:#ff4b7d;
  color:white;
}

#noBtn{
  background:#eee;
  position:absolute;
}

video{
  width:350px;
  margin-top:30px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}
